body{
  background-color: #f5f5f5;
}
header{
    background-color: #2a82fd;
}



.navBar {
    width: 100%;
  }

/*************** BOTON LOGO ***************/
/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
  font-weight: 500;
  }

.button:hover{
  background-color: #2a82fd;
  color: #fff;
  border-color: black;
  }
  
 
  

/********************* BOTONES LOGIN  ************/

/* From uiverse.io by @WhiteNervosa */
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }


.nav-item{
    font-size: 18px;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}


